<!DOCTYPE html>
<html>
<head>
  <title>Flancer</title>
  <%= stylesheet_link_tag    "flancer/application", media: "all" %>
  <%= javascript_include_tag "flancer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
